@import url(commom.css);
body {
  color: #000;
  background-color: #fff;
}

body header * {
  color: #000 !important;
}

body header ul li.active a {
  border-bottom: 2px solid #000;
}

body main {
  background: url(../img/culture/bg-light.png) center top no-repeat;
}

body main .main-content-wrap {
  max-width: 90%;
}

body main .main-content-wrap .hero {
  width: 100%;
  padding-top: 200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

body main .main-content-wrap .hero h1 {
  font-size: 85px;
  line-height: 90px;
  white-space: pre-line;
}

body main .main-content-wrap .hero p {
  margin-top: 50px;
  width: 50%;
  font-size: 15px;
  color: #333;
}

body main .main-content-wrap .cul-wrap {
  width: 96%;
  margin: 0 auto;
  position: relative;
}

body main .main-content-wrap .cul-wrap .cul-con {
  margin-bottom: 40px;
}

body main .main-content-wrap .cul-wrap .cul-con .item-image {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-clip-path: inset(8px 8px 8px 8px);
          clip-path: inset(8px 8px 8px 8px);
  position: relative;
  padding-top: calc(100% / 16 * 6);
  overflow: hidden;
}

body main .main-content-wrap .cul-wrap .cul-con .item-image img {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

body main .main-content-wrap .cul-wrap .cul-con .item-image:hover {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

body main .main-content-wrap .cul-wrap .cul-con .item-caption {
  margin: 10px 0;
}

body main .main-content-wrap .cul-wrap .cul-con .item-caption h2 {
  color: #333;
  position: relative;
  font-size: 18px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

body main .main-content-wrap .cul-wrap .cul-con .item-caption h4::after {
  display: inline-block;
  content: "";
  width: 16px;
  height: 1px;
  background: #999;
  margin: 6px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main .main-content-wrap .cul-wrap .cul-con .item-caption h4 {
  color: #999;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body main .main-content-wrap h2 {
  color: #000;
}

body main .main-content-wrap .wrap1 {
  padding: 0 120px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .main-content-wrap .wrap1 .cul-con {
  vertical-align: center;
  margin: 40px 40px;
  width: 140px;
}

body main .main-content-wrap .wrap1 .cul-con .item-image {
  width: 140px;
  height: 140px;
}

body main .main-content-wrap .wrap1 .cul-con .item-image img {
  width: 100%;
  height: 100%;
}

body main .main-content-wrap .wrap1 .cul-con .item-image.nonc {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

body main .main-content-wrap .wrap2 {
  margin-top: 150px;
  height: 1000px;
}

body main .main-content-wrap .wrap2 .cul-con {
  position: absolute;
}

body main .main-content-wrap .wrap2 .cul-con img {
  width: 100%;
  height: auto;
}

body main .main-content-wrap .wrap2 .cul1 {
  top: 0;
  left: 0;
}

body main .main-content-wrap .wrap2 .cul1 .item-image {
  height: 330px;
  width: 240px;
}

body main .main-content-wrap .wrap2 .cul1 .item-image img {
  width: auto;
  height: 100%;
}

body main .main-content-wrap .wrap2 .cul2 {
  top: 10%;
  left: 26%;
}

body main .main-content-wrap .wrap2 .cul2 .item-image {
  height: 300px;
  width: 350px;
}

body main .main-content-wrap .wrap2 .cul3 {
  top: -10%;
  right: 0;
}

body main .main-content-wrap .wrap2 .cul3 .item-image {
  height: 220px;
  width: 370px;
}

body main .main-content-wrap .wrap2 .cul4 {
  top: 50%;
  left: 5%;
}

body main .main-content-wrap .wrap2 .cul4 .item-image {
  height: 320px;
  width: 370px;
}

body main .main-content-wrap .wrap2 .cul5 {
  top: 65%;
  left: 46%;
}

body main .main-content-wrap .wrap2 .cul5 .item-image {
  height: 250px;
  width: 350px;
}

body main .main-content-wrap .wrap2 .cul6 {
  top: 25%;
  right: 3%;
}

body main .main-content-wrap .wrap2 .cul6 .item-image {
  height: 320px;
  width: 380px;
}
/*# sourceMappingURL=culture.css.map */