@import url(commom.css);

body {
    color: #ddd;

    // background: #14181d;
    background: #000;
    header * {
        color: white !important;
        ul {
            li.active {
                a {
                    border-bottom: 1px solid #fff;
                }
            }
        }
    }
    main {
        .main-content-wrap {
            .hero {
                color: #fff;
            }

            .product-wrap {
                a {
                    > div {
                        width: 100%;
                        figure {
                            position: relative;
                            font-size: 0;
                            width: 48%;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            .cover {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                opacity: 0;
                                transition: 0.3s;
                            }
                            .cover p {
                                font-weight: 600;
                                color: #fff;
                                font-size: 30px;
                                text-align: center;
                                padding: 114px 0;
                            }
                        }

                        figure:hover .cover {
                            opacity: 1;
                            background-color: rgba(0, 0, 0, 0.4);
                        }
                        div {
                            width: 48%;
                            h3 {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}
